header.global-banner {
    display: grid;
    grid-template-columns: max(15vw, 36px) auto max(15vw, 36px);
    margin: 0;
    padding: 2vh 0 0 0;

    :is(h1, h2, h3, h4, h5, h6) {
        font-family: var(--font-title);
    }

    .dark-mode-btn-container {
        display: flex;
        grid-column: 3;
        justify-content: center;
        align-items: center;
    }

    *:not(.dark-mode-btn-container) {
        grid-column: 2;
    }

    .dark-mode-btn-container button {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 1vw;
        border: 0;
        border-radius: calc(infinity * 1px);
        background-color: var(--color-bg);;
        padding: 5px;

        svg {
            border-radius: calc(infinity * 1px);
        }

        &:hover {
            background-color: var(--color-bg-secondary);
        }
    }
}

@media (width < 600px) {
    header.global-banner {
        font-size: smaller;
    }
}