:root {
    color-scheme: light dark;
    --color-text: light-dark(#333, #f2f4f5);
    --color-text-secondary: light-dark(#666, #999);
    --color-bg: light-dark(white, #282c34);
    --color-bg-secondary: light-dark(#eee, #333943);
    --color-bg-ternary: light-dark(#ddd, #3c4048);
    --color-border: light-dark(rgba(0, 0, 0, 0.5), #f2f4f5);
    --color-shadow: rgba(0, 0, 0, 0.2);
    --color-bg-gradient: var(--color-bg)
        linear-gradient(
            90deg,
            rgba(76, 27, 255, 0.4) 10%,
            rgba(253, 29, 29, 0.4) 50%,
            rgba(252, 176, 69, 0.4) 100%
        );
    --filter-hover: brightness(90%);
    background-color: var(--color-bg);
    color: var(--color-text);

    &:not([style*="color-scheme"]) {
        .auto-mode-icon {
            display: block;
        }
    }

    &[style*="color-scheme: light"] {
        .light-mode-icon {
            display: block;
        }
        .dark-mode-icon,
        .auto-mode-icon {
            display: none;
        }
    }

    &[style*="color-scheme: dark"] {
        .light-mode-icon,
        .auto-mode-icon {
            display: none;
        }
        .dark-mode-icon {
            display: block;
        }
        img {
            filter: brightness(80%);
        }
    }

    img {
        filter: inherit;
    }

    @media (prefers-color-scheme: light) {
        &:not([style*="color-scheme: dark"]) {
            img {
                filter: inherit;
            }
            .light-mode-icon {
                display: block;
            }
            .dark-mode-icon {
                display: none;
            }
        }
    }

    @media (prefers-color-scheme: dark) {
        &:not([style*="color-scheme: light"]) {
            img {
                filter: brightness(80%);
            }
            .light-mode-icon {
                display: none;
            }
            .dark-mode-icon {
                display: block;
            }
        }
    }
}

.auto-mode-icon {
    width: fit-content;
    color: var(--color-text);
    font-size: xx-small;
}

.dark-mode-icon,
.light-mode-icon {
    color: var(--color-text);
}
