@import "reset.css";
@import "colors.css";
@import "fonts.css";
@import "banner.css";

:root {
    --font-monospace: "Roboto Mono", Consolas, "Courier New", Courier, monospace;
    --font-title: "Playfair Display", "Times New Roman", Times, serif;
    --font-serif: Lora, Times, -apple-system, serif;
    --font-sans-serif: Rubik, Inter, Arial, -apple-system, sans-serif;
    --size-title: 3rem;
}

/* Global Font */
body {
    font-family: var(--font-sans-serif);
}
body *:is(h1, h2, h3, h4, h5, h6) {
    margin: 1rem 0;
    /* font-family: var(--font-title); */
}