@import "reset.css";
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Rubik:ital,wght@0,300..900;1,300..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
    --font-monospace: "Roboto Mono", Consolas, "Courier New", Courier, monospace;
    --font-headings: "Playfair Display", "Times New Roman", Times, serif;
    --font-serif: "EB Garamond", Times, -apple-system, serif;
    --font-sans-serif: Rubik, Inter, Arial, -apple-system, sans-serif;
}

/* Global Font */
code .line * {
    font-size: small;
    font-family: var(--font-monospace);
}
pre {
    padding: 0.5vh 1vw;
}
blockquote {
    margin-left: 0;
    border-left: 2px solid var(--color-text);
    padding: 0.5em 1em;
}
body *:is(h1, h2, h3, h4, h5, h6) {
    font-family: var(--font-headings);
    margin: 1rem 0;
}
body *:not(h1, h2, h3, h4, h5, h6) {
    font-family: var(--font-sans-serif);
}

/* Banner */
header.global-banner {
    display: grid;
    grid-template-columns: max(15vw, 36px) auto max(15vw, 36px);
    margin: 2vh 0;

    :is(h1, h2, h3, h4, h5, h6) {
        font-family: var(--font-headings);
    }

    a {
        color: var(--color-text-link);
        text-decoration: underline;
    }

    a:visited {
        color: var(--color-text-visited);
    }

    .dark-mode-btn-container {
        display: flex;
        grid-column: 1;
        justify-content: center;
        align-items: center;
    }

    *:not(.dark-mode-btn-container) {
        grid-column: 2;
    }

    .dark-mode-btn-container button {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 1vw;
        border: 0;
        border-radius: calc(infinity * 1px);
        background-color: var(--color-bg);
        padding: 5px;

        svg {
            border-radius: calc(infinity * 1px);
        }

        &:hover {
            background-color: var(--color-bg-secondary);
        }
    }
}

@media (width < 600px) {
    header.global-banner {
        font-size: smaller;
    }
}

/* System Mode */
.auto-mode-icon {
    width: fit-content;
    color: var(--color-text);
    font-size: xx-small;
}

/* System Light Mode */
@media (prefers-color-scheme: light) {
    :root {
        --color-text: #333;
        --color-text-secondary: #666;
        --color-bg: white;
        --color-bg-secondary: #eee;
        --color-bg-ternary: #ddd;
        --color-border: rgba(0, 0, 0, 0.5);
        --color-shadow: rgba(0, 0, 0, 0.2);
        
        .light-mode-icon {
            display: block;
        }
        .dark-mode-icon {
            display: none;
        }
    }


    /* prefers-color-scheme: light, theme: dark*/
    .dark {
        --color-text: #f2f4f5;
        --color-text-secondary: #999;
        --color-text-visited: #ffadff;
        --color-text-link: #8cb4ff;
        --color-bg: #282c34;
        --color-bg-secondary: #333943;
        --color-bg-ternary: #3c4048;
        --color-border: #f2f4f5;
        --color-shadow: rgba(255, 255, 255, 0.3);

        background-color: var(--color-bg);
        color: var(--color-text);

        a {
            color: var(--color-text-link);
        }
        a:visited {
            color: var(--color-text-visited);
        }
        .light-mode-icon {
            display: none;
        }
        .dark-mode-icon {
            display: block;
            color: var(--color-text);
        }
    }
}

/*  System Dark Mode */
@media (prefers-color-scheme: dark) {
    :root {
        --color-text: #f2f4f5;
        --color-text-secondary: #999;
        --color-text-visited: #ffadff;
        --color-text-link: #8cb4ff;
        --color-bg: #282c34;
        --color-bg-secondary: #333943;
        --color-bg-ternary: #3c4048;
        --color-border: #f2f4f5;
        --color-shadow: rgba(255, 255, 255, 0.1);
        background-color: var(--color-bg);
        color: var(--color-text);
    }
    

    a {
        color: var(--color-text-link);
    }
    a:visited {
        color: var(--color-text-visited);
    }
    .light-mode-icon {
        display: none;
    }
    .dark-mode-icon {
        display: block;
        color: var(--color-text);
    }

    /* prefers-color-scheme: dark, theme: light*/
    .light {
        --color-text: #333;
        --color-text-secondary: #666;
        --color-bg: white;
        --color-bg-secondary: #eee;
        --color-bg-ternary: #ddd;
        --color-border: rgba(0, 0, 0, 0.5);
        --color-shadow: rgba(0, 0, 0, 0.2);

        a {
            color: revert;
        }
        a:visited {
            color: revert;
        }
        .light-mode-icon {
            display: block;
        }
        .dark-mode-icon {
            display: none;
        }
    }
}
