@media (prefers-color-scheme: light) {
    :root {
        --color-text: #333;
        --color-text-secondary: #666;
        --color-bg: white;
        --color-bg-secondary: lightgray;
        --color-border: rgba(0, 0, 0, 0.5);
        --color-shadow: rgba(0, 0, 0, 0.2);
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-text: white;
        --color-text-secondary: #999;
        --color-bg: #282c34;
        --color-bg-secondary: #333943;
        --color-border: var(--color-dark-text);
        --color-shadow: rgba(0, 0, 0, 0.2);
    }
}


body {
    font-family: "Roboto Mono", Consolas, "Courier New", Courier, monospace;
    margin: 5vh 15vw;

    a,
    span,
    p {
        font-size: 0.9rem;
    }
}

header {
    h1 {
        margin-bottom: 1rem;
    }

    a {
        text-decoration: none;
    }

    img {
        display: inline;
    }

    margin-bottom: 1rem;
}

main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
    grid-auto-flow: row dense;
    gap: 5vh;
}

.link:hover {
    background-color: var(--color-bg-secondary);
}

.link .tooltip {
    transition: opacity 0.3s;
    opacity: 0;
    margin: 1rem 0.2rem;
    border-width: 1px;
    border-style: solid;
    border-color: var(--color-border);
    box-shadow: 4px 4px 0 var(--color-shadow);
    background-color: var(--color-bg);
    padding: 0.5rem 1rem;
    width: auto;
    font-size: x-small;
    position: absolute;

    &::before,
    &::after {
        position: absolute;
        bottom: 100%;
        left: 1rem;
        border-right: 5px solid transparent;
        border-left: 5px solid transparent;
        content: "";
    }

    &::before {
        margin-bottom: 1px;
        border-bottom: 5px solid var(--color-border);
    }

    &::after {
        border-bottom: 5px solid var(--color-bg);
    }
}

.link:hover > .tooltip,
.link *:active + .tooltip,
.tooltip.visible {
    transition: opacity 150ms ease-in-out;
    opacity: 1;
    z-index: 1;
}