@font-face {
    src: url("Norse-Bold.otf");
    font-family: Norse-Bold;
}

header {
    margin: 1vh 15vw;
    font-family: "Roboto Mono", Consolas, "Courier New", Courier, monospace;
}

main {
    display: flex;
    flex-flow: row wrap;
    font-family: Inter, sans-serif;
}

aside {
    display: flex;
    flex: 0 100%;
    flex-direction: column;
    justify-content: space-between;
    opacity: 0.8;

    background-image: url("fuji.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-width: 40vw;
    height: 100vh;
    color: white;
    text-align: center;
}

aside .title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20vh;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 1vh 0;
}

aside .title img {
    height: 15vh;
}

aside .title h1 {
    font-size: 72px;
    font-family: Norse-Bold, Verdana, sans-serif;
}

aside .credit-text {
    margin: 10px;
    width: 100%;
    font-size: 12px;
}

section {
    display: flex;
    flex: 0 100%;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(240, 240, 240, 0.5);
}

section .form-pretext {
    margin: 3vh 5vw 7vh;
}

section .form-container {
    box-shadow: 1px 5px 5px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    background-color: var(--color-bg);
    padding: 3vh 5vw;
}

section form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    gap: 2vh 3vw;
}

section form label {
    font-weight: 6v00;
    font-size: small;
}

section form input {
    border-color: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 3px 0;
    text-decoration: none;
}

section form div {
    display: flex;
    flex-direction: column;
}

section .form-options {
    padding: 2vh 5vw 10vh;
}

section .form-options button {
    margin: 3vh 0 2vh;
    border: none;
    border-radius: 5px;
    background-color: rgb(103, 154, 182);
    padding: 10px;
    color: white;
    font-family: Inter;
}

@media (min-width: 600px) {
    section {
        flex: 1 0 1vh;
    }

    aside {
        flex: 0 0 4vw;
    }
}
