@media (prefers-color-scheme: dark) {
    * {
        background-color: #282c34;
        color: #f2f4f5;
    }

    button {
        border: 2px;
        border-color: #f2f4f5;
        background-color: black;
    }
    button:hover {
        background-color: gray;
        cursor: pointer;
    }
}

* {
    font-family: "Roboto Mono";
}

.ribbon {
    padding-left: 15vw;
}

header {
    margin: 2vh 2vw;
}

button {
    border: 1px;
    border-radius: 0;
    padding: 0.2em;
}

img {
    object-fit: cover;
    height: 75vh;
    width: 99vw;
}
