* {
    font-family: "Roboto Mono", Consolas, "Courier New", Courier, monospace;
}

header {
    margin: 1vh 15vw;
}

body {
    /* Ensures the body takes at least the full viewport height */
    min-height: 80vh;
    margin: 0;
    background-color: var(--color-bg);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    height: 500px;
    width: 300px;
    padding: 20px;
    box-shadow: 0 4px 8px var(--color-shadow);
    background-color: var(--color-bg-secondary);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#minidisplay {
    min-height: 1.5em;
    align-self: flex-end;
    color: vaxr(--color-text-secondary);
    text-align: right;
}

#display {
    width: 100%;
    height: 60px;
    margin: 0 0 20px 0;
    text-align: right;
    border: 2px solid #ccc;
    font-size: 24px;
    border-radius: 5px;
    background-color: var(--color-bg);
}

.buttons {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
}

.buttons button {
    padding: 20px;
    font-size: 16px;
    border: none;
    background-color: var(--color-bg);
    color: var(--color-text);
    cursor: pointer;
    transition: background-color 0.1s;
    border-radius: 4px;
    box-shadow: 2px 5px #999;
}

.buttons button:hover,
button.hover {
    background-color: #ccc;
}

button:active:not(.dark-mode-btn) {
    box-shadow: 2px 5px #666;
    transform: translateY(2px);
}

.buttons .operator {
    background-color: rgba(206, 151, 62, 0.5);
}
.buttons .operator:hover,
.operator.hover {
    background-color: rgba(206, 151, 62, 0.8);
}

.span {
    grid-column: span 2;
}
