* {
    font-family: "Roboto Mono", Consolas, monospace;
}

.container {
    margin: 0 auto;
    padding: 20px;
    max-width: 600px;
    text-align: center;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin: 20px auto;
    max-width: 300px;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    background: var(--color-bg-secondary);

    aspect-ratio: 1;
    font-size: 2em;
}

.cell:hover {
    background: var(--color-bg-ternary);
}

.hidden {
    display: none;
}

.active {
    display: block;
}

input {
    display: block;
    margin: 10px auto;
    border-width: 1px;
    border-color: #eee;
    border-radius: 6px;
    padding: 5px;
    width: 200px;
}

button:not(.dark-mode-btn) {
    cursor: pointer;
    margin: 10px;
    border: none;
    border-radius: 5px;
    background: #4caf50;
    padding: 8px 16px;
    color: white;
}

button:not(.dark-mode-btn):hover {
    background: #45a049;
}

#status {
    margin: 20px 0;
    font-size: 1.2em;
}
