@import "details.css";
@import "callouts.css";

table,
th,
td,
tr {
    break-after: always;
    border: 1px solid var(--color-text);
    border-collapse: collapse;
    padding: 0.5rem;
}

pre {
    margin: 0.25rem 0;
    padding: 0.75rem 0.8rem 0.25rem 0.8rem;
}

:not(pre) code {
    border-radius: 5px;
    background-color: var(--color-bg-secondary);
    padding: 0.1rem 0.4rem;
    color: lightcoral;
}

blockquote {
    display: flex;
    break-inside: avoid;
    border-left: 4px solid var(--color-shadow);
    padding: 0.25rem 1rem;
}

.blog {
  margin: auto;
  padding-top: 5vh;
}
@media (min-width: 600px) {
  .blog {
    max-width: max(100% - 2rem, 760px);
  }
}

