table,
th,
td,
tr {
    border: 1px solid var(--color-text);
}

pre {
    margin: 0.25rem 0;
    padding: 0.75rem 0.8rem 0.25rem 0.8rem;
}

:not(pre) code {
    border-radius: 5px;
    background-color: var(--color-bg-secondary);
    padding: 0.1rem 0.4rem;
    color: lightcoral;
}

aside {
    display: flex;
    break-inside: avoid;
    margin: 1rem 0;
    box-shadow: 1px 1px 1px var(--color-shadow);
    border: 1px solid var(--color-shadow);
    padding: 1rem;
}

aside p {
    margin: 0 1rem;
    overflow: scroll;
}

/* Details */
details {
    margin: 0.5rem 0;
    border: 1px solid var(--color-text);
    padding: 0.5rem 1rem;
}

summary {
    display: flex;
    align-items: center;
    gap: 1rem;
}

summary::before {
    transition: 0.3s;
    border-left: 0.9rem solid;
    border-inline: 0.5rem solid transparent;
    width: 0;
    height: 0;
    content: "";
    writing-mode: vertical-lr;
}

summary::before:hover {
    cursor: pointer;
    background-color: var(--color-bg);

}

details[open] > summary::before {
    transform: rotate(90deg);
}
