:root {
    --grid-size: min(50vh, 75vw);
    --cell-size: calc(var(--grid-size) / 10);
}


body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 95vh;
}

main {
    display: flex;
    flex: 1 0 0;
    flex-direction: column;
    justify-content: center;
    background-color: var(--color-bg-secondary);
    font-family: var(--font-monospace);
    text-align: center;
}


.gameboards {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
@media (width < 600px) {
    .gameboards {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 20px;
    }
}

.gameboard {
    margin: 1rem;
    border: 2px solid var(--color-border);
    background-color: var(--color-bg);
    padding: 1rem;
}

p {
    transform: opacity 5s ease-out;
    opacity: 0;
}

.grid {
    display: grid;
    grid-template-rows: repeat(10, var(--cell-size));
    grid-template-columns: repeat(10, var(--cell-size));
    gap: 2px;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: var(--color-bg-secondary);
    width: var(--cell-size);
    height: var(--cell-size);
    font-size: xx-large;
}

.cell.hit {
    background-color: gray;
}

.cell.miss {
    background-color: lightblue;
}

.cell:hover {
    background-color: gray;
}

.controls {
    margin-top: 20px;
}

.hidden {
    display: none;
}

button:not(.dark-mode-btn) {
    cursor: pointer;
    margin: 10px;
    border: none;
    border-radius: 5px;
    background: #4caf50;
    padding: 8px 16px;
    color: white;
}

button:not(.dark-mode-btn):hover {
    background: #45a049;
}
