---
import Layout from "../layouts/Layout.astro";
import { projects } from "./projectsData";
import ProjectCard from "../components/ProjectCard.astro";
import Tags from "../components/Tags.astro";
---

<Layout>
    <h2>Minh-Hoang Alexis HUYNH</h2>

    <em>
        <div style="display: flex; align-items: center; gap: 0.5rem;">
            <Tags tags={[{ name: "Currently" }]} />
            <span><em>System V&V Engineer @ Alstom, Saint-Ouen, FR</em></span>
        </div>
        LLM Agent Developer Intern @ Thales Research & Technologies, Palaiseau, FR<br />
        CS Major @ Mines Saint-Étienne, FR<br />
    </em>

    <br />
    <p>
        Welcome to my personal portfolio website! Here, I showcase a selection of my projects, mostly from
        school, ranging from web applications to machine learning and computer vision.
    </p>
    <br />
    <p>Feel free to explore!</p>
    {
        projects.map(({ heading, projects }) => (
            <section>
                <h2>{heading}</h2>
                <div class="links">
                    {projects.map((project) => (
                        <ProjectCard {project} />
                    ))}
                </div>
            </section>
        ))
    }
    <br />
</Layout>

<style>
    .links {
        column-gap: 1rem;
        column-count: 1;
        counter-reset: item-counter;

        @media screen and (min-width: 400px) {
            column-count: 2;
        }
        @media screen and (min-width: 1100px) {
            column-count: 3;
        }
        @media screen and (min-width: 1700px) {
            column-count: 4;
        }
        @media screen and (min-width: 2000px) {
            column-count: 5;
        }
        @media screen and (min-width: 2300px) {
            column-count: 6;
        }
    }
</style>
