---
import Layout from "../layouts/Layout.astro";
import { projects } from "./projectsData.js";
import ProjectCard from "../components/ProjectCard.astro";
import Card from "../components/Card.astro";
import Tags from "../components/Tags.astro";
import References from "../components/References.astro";
---

<Layout title="Minh-Hoang HUYNH">
    <section id="title">
        <Card class="me">
            <h1>Minh-Hoang HUYNH</h1>
            <References />
        </Card>
        <Card>
            <ul>
                <Tags tags={[{ name: "Jul 2025 — Currently" }]} />
                <li>
                    <br />
                    System V&V Engineer<br />
                    @ Alstom, Saint-Ouen, FR<br /><br />
                </li>
                <Tags tags={[{ name: "Aug 2024 — Jan 2025" }]} />
                <li>
                    <br />
                    LLM Agent Developer Intern <br />
                    @ Thales Research & Technologies, Palaiseau, FR
                    <br /><br />
                </li>
                <Tags tags={[{ name: "Sept 2021 — Jan 2025" }]} />
                <li>
                    <br />CS Student <br />
                    @ Mines Saint-Étienne, FR<br /><br />
                </li>
            </ul>
        </Card>
    </section>
    {
        projects.map(({ heading, id, projects }) => (
            <section id={id}>
                <details open>
                    <summary>
                        <h2>{heading}</h2>
                    </summary>
                    <div class="links">
                        {projects.map((project) => (
                            <ProjectCard {project} />
                        ))}
                    </div>
                </details>
            </section>
        ))
    }
    <br />
</Layout>

<style>
    details[open] {
        margin-bottom: 5rem;
    }
    summary {
        transition: all 0.1s ease-in-out;
        margin-bottom: 1rem;
        padding: 0 0.5rem;
    }
    summary h2 {
        display: inline;
    }
    summary::marker {
        z-index: 999;
        font-size: 1.8rem;
    }
    summary:hover {
        cursor: pointer;
        background-color: var(--color-bg-secondary);
    }
    section#title {
        display: flex;
        gap: 1rem;
        @media screen and (max-width: 700px) {
            flex-direction: column;
        }
    }
    section#title .me {
        padding: 4rem 1rem;
    }
    section#title .me h1 {
        flex: auto;
        font-size: 4rem;
        font-family: var(--font-title);
        @media screen and (max-width: 700px) {
            font-size: 2.75rem;
        }
    }
    section#title ul {
        align-self: center;
        margin: 1rem;
        padding-left: 0;
        list-style-type: none;

        li:last-child {
            border-left-style: dashed;
        }
    }
    section#title ul li {
        top: 0.2rem;
        margin: 0 0 0 1rem;
        border-left: 1px solid rgba(255, 127, 80, 0.5);

        padding-left: 0.5rem;
        font-style: italic;
        font-size: smaller;

        @media screen (min-width: 800px) {
            display: flex;
            align-items: center;
            gap: 1rem;
        }
    }
    .links {
        column-gap: 1rem;
        column-count: 1;

        @media screen and (min-width: 700px) {
            column-count: 2;
        }
        @media screen and (min-width: 1100px) {
            column-count: 3;
        }
        @media screen and (min-width: 1700px) {
            column-count: 4;
        }
        @media screen and (min-width: 2000px) {
            column-count: 5;
        }
        @media screen and (min-width: 2300px) {
            column-count: 6;
        }
    }
</style>
