---
import Layout from "../layouts/Layout.astro";
---

<script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>

<Layout>
    <table>
        <thead>
            <tr>
                <th>Rendered</th>
                <th>Markdown</th>
                <th>HTML</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <p>This is the first paragraph.</p>
                    <br />
                    <p>This is the second paragraph.</p>
                </td>
                <td>
                    <pre>
This is the first paragraph.

This is the second paragraph.</pre>
                </td>
                <td>
                    <pre
                        class="prettyprint lang-html">&lt;p&gt;This is the first paragraph.&lt;/p&gt;
&lt;br /&gt;
&lt;p&gt;This is the second paragraph.&lt;/p&gt;</pre>
                </td>
            </tr>
            <tr>
                <td><em>italic</em></td>
                <td><pre>*italic*</pre></td>
                <td><pre class="prettyprint lang-html">&lt;em&gt;italic&lt;/em&gt;</pre></td>
            </tr>
            <tr>
                <td><strong>bold and strong</strong></td>
                <td><pre class="prettyprint">**bold and strong**</pre></td>
                <td><pre class="prettyprint lang-html">&lt;strong&gt;bold and strong&lt;/strong&gt;</pre></td>
            </tr>
            <tr>
                <td><code>code</code></td>
                <td><pre>`code`</pre></td>
                <td><pre class="prettyprint lang-html">&lt;code&gt;code&lt;/code&gt;</pre></td>
            </tr>
            <tr>
                <td> <h1>Header 1</h1></td>
                <td><pre># Header 1<br /><br />Header 1<br />========</pre></td>
                <td><pre class="prettyprint lang-html">&lt;h1&gt;Header 1&lt;/h1&gt;</pre> </td>
            </tr>
            <tr>
                <td><h2>Header 2</h2></td>
                <td><pre>## Header 2<br /><br />Header 2<br />--------</pre></td>
                <td><pre class="prettyprint lang-html">&lt;h2&gt;Header 2&lt;/h2&gt;</pre> </td>
            </tr>
            <tr>
                <td><h3>Header 3</h3></td>
                <td><pre>### Header 3</pre></td>
                <td><pre class="prettyprint lang-html">&lt;h3&gt;Header 3&lt;/h3&gt;</pre> </td>
            </tr>
            <tr>
                <td><h4>Header 4</h4></td>
                <td><pre>#### Header 4</pre></td>
                <td> <pre class="prettyprint lang-html">&lt;h4&gt;Header 4&lt;/h4&gt;</pre></td>
            </tr>
            <tr>
                <td><h5>Header 5</h5></td>
                <td><pre>##### Header 5</pre></td>
                <td><pre class="prettyprint lang-html">&lt;h5&gt;Header 5&lt;/h5&gt;</pre></td>
            </tr>
            <tr>
                <td><h6>Header 6</h6></td>
                <td><pre>###### Header 6</pre></td>
                <td><pre class="prettyprint lang-html">&lt;h6&gt;Header 6&lt;/h6&gt;</pre></td>
            </tr>
            <tr>
                <td>
                    <blockquote>quote<br /> on two lines</blockquote>
                </td>
                <td><pre>&gt; quote <br />&gt; on two lines</pre></td>
                <td>
                    <pre
                        class="prettyprint lang-html">&lt;blockquote&gt;<br />quote&lt;br/&gt;<br />on two lines<br />&lt;/blockquote&gt;</pre>
                </td>
                <tr>
                    <td><pre>code block</pre></td>
                    <td><pre>```python<br />code block<br />```</pre></td>
                    <td
                        ><pre
                            class="prettyprint lang-html">&lt;pre&gt;&lt;code class="language-python"&gt;code block&lt;/code&gt;&lt;/pre&gt;</pre></td
                    >
                </tr>
                <tr>
                    <td>
                        <ol>
                            <li>First item</li>
                            <li>
                                Second item
                                <ol>
                                    <li>Subitem 2.1</li>
                                    <li>Subitem 2.2</li>
                                </ol>
                            </li>
                            <li>Third item</li>
                        </ol>
                    </td>
                    <td
                        ><pre>1. First item<br />2. Second item<br />   1. Subitem 2.1<br />   2. Subitem 2.2<br />3. Third item</pre></td
                    >
                    <td>
                        <pre
                            class="prettyprint lang-html">&lt;ol&gt;<br />&lt;li&gt;First item&lt;/li&gt;<br />&lt;li&gt;Second item<br />  &lt;ol&gt;<br />  &lt;li&gt;Subitem 2.1&lt;/li&gt;<br />  &lt;li&gt;Subitem 2.2&lt;/li&gt;<br />  &lt;/ol&gt;<br />&lt;/li&gt;<br />&lt;li&gt;Third item&lt;/li&gt;<br />&lt;/ol&gt;</pre>
                    </td>
                </tr>
                <tr>
                    <td>
                        <ul>
                            <li>unordered</li>
                            <li>list</li>
                        </ul>
                    </td>
                    <td><pre>- unordered<br />- list</pre></td>
                    <td>
                        <pre
                            class="prettyprint lang-html">&lt;ul&gt;&lt;li&gt;unordered&lt;/li&gt;&lt;li&gt;list&lt;/li&gt;&lt;/ul&gt;</pre>
                    </td>
                </tr>
                <tr>
                    <td>
                        <hr />
                    </td>
                    <td><pre>---</pre></td>
                    <td><pre class="prettyprint lang-html">&lt;hr /&gt;</pre></td>
                </tr>
                <tr>
                    <td><a href="https://www.markdownlang.com">A link text</a></td>
                    <td><pre>[A link text](https://www.markdownlang.com)</pre></td>
                    <td
                        ><pre
                            class="prettyprint lang-html">&lt;a href="https://www.markdownlang.com"&gt;A link text&lt;/a&gt;</pre></td
                    >
                </tr>
                <tr>
                    <td>
                        <table>
                            <thead>
                                <tr>
                                    <th>Left Align</th>
                                    <th style="text-align:center">Center Align</th>
                                    <th style="text-align:right">Right Align</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Content1</td>
                                    <td style="text-align:center">Content2</td>
                                    <td style="text-align:right">Content3</td>
                                </tr>
                                <tr>
                                    <td>Content4</td>
                                    <td style="text-align:center">Content5</td>
                                    <td style="text-align:right">Content6</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    <td
                        ><pre>| Left Align | Center Align | Right Align |<br />|:-----------|:------------:|:-----------:|<br />| Content1   |   Content2   |   Content3  |<br />| Content4   |   Content5   |   Content6  |</pre></td
                    >
                    <td
                        ><pre
                            class="prettyprint lang-html">
&lt;table&gt;
  &lt;thead&gt;
    &lt;tr&gt;
      &lt;th&gt;Left Align&lt;/th&gt;
      &lt;th style="text-align:center"&gt;Center Align&lt;/th&gt;
      &lt;th style="text-align:right"&gt;Right Align&lt;/th&gt;
    &lt;/tr&gt;
  &lt;/thead&gt;
  &lt;tbody&gt;
    &lt;tr&gt;
      &lt;td&gt;Content1&lt;/td&gt;
      &lt;td style="text-align:center"&gt;Content2&lt;/td&gt;
      &lt;td style="text-align:right"&gt;Content3&lt;/td&gt;
    &lt;/tr&gt;
    &lt;tr&gt;
      &lt;td&gt;Content4&lt;/td&gt;
      &lt;td style="text-align:center"&gt;Content5&lt;/td&gt;
      &lt;td style="text-align:right"&gt;Content6&lt;/td&gt;
    &lt;/tr&gt;
  &lt;/tbody&gt;
&lt;/table&gt;
</pre>
                    </td>
                </tr>
                <tr>
                    <td>
                        <math>
                            <mi>x</mi>
                            <mo>=</mo>
                            <mi>x</mi>
                            <mo>+</mo>
                            <mn>1</mn>
                        </math>
                    </td>
                    <td><pre>$x = x + 1$</pre></td>
                    <td>
                        <pre
                            class="prettyprint lang-html">&lt;math&gt;
    &lt;mi&gt;x&lt;/mi&gt;
    &lt;mo&gt;=&lt;/mo&gt;
    &lt;mi&gt;x&lt;/mi&gt;
    &lt;mo&gt;+&lt;/mo&gt;
    &lt;mn&gt;1&lt;/mn&gt;
&lt;/math&gt;</pre>
                    </td>
                </tr>
            </tr>
        </tbody>
    </table>

    <style>
        body *:is(h1, h2, h3, h4, h5, h6) {
            font-family: inherit;
        }
        code * {
            font-size: smaller;
            font-family: var(--font-monospace);
        }
        code {
            border-radius: 4px;
            background-color: var(--color-bg-secondary);
            padding: 0.2em 0.4em;
            color: var(--color-text);
            font-size: smaller;
            font-family: var(--font-monospace);
        }
        pre,
        pre.prettyprint {
            border: none;
            border-radius: 4px;
            background-color: lightgray;
            padding: 0.5vh 1vw;
            overflow-x: auto;
            font-size: smaller;
            font-family: var(--font-monospace);
            text-align: left;
        }
        blockquote {
            margin-left: 0;
            border-left: 2px solid var(--color-text);
            padding: 0.5em 1em;
        }
        table {
            border: 2px solid rgb(140 140 140);
            border-collapse: collapse;
            font-size: smaller;
        }

        caption {
            padding: 10px;
            caption-side: bottom;
            font-weight: bold;
        }

        thead,
        tfoot {
            background-color: rgb(228 240 245);
        }

        th,
        td {
            border: 1px solid rgb(160 160 160);
            padding: 8px 10px;
        }

        td:last-of-type {
            text-align: center;
        }

        tbody > tr:nth-of-type(even) {
            background-color: rgb(237 238 242);
        }

        tfoot th {
            text-align: right;
        }

        tfoot td {
            font-weight: bold;
        }
    </style>
</Layout>
