---
const { href = "", class: className, ...rest } = Astro.props;
---

{
    href ? (
        <a class="card hoverable" class:list={className} href={href} {...rest}>
            <slot />
        </a>
    ) : (
        <div class="card" class:list={className} {...rest}>
            <slot />
        </div>
    )
}

<style>
    .card {
        display: block;
        break-inside: avoid;
        transition: all 0.2s ease-in-out;
        margin-bottom: 1rem;
        box-shadow: 2px 2px 1px var(--color-shadow);
        border: 1px solid var(--color-shadow);
        background-color: var(--color-bg);
        padding: 1rem;
        text-decoration: none;
    }

    .hoverable {
        box-shadow: 5px 5px 1px var(--color-shadow);
    }

    .hoverable:hover {
        transform: translateY(2px);
        filter: var(--filter-hover);
        box-shadow: 2px 2px 1px var(--color-shadow);
    }
</style>
