---
const today = new Date();
import References from "./References.astro";
---

<footer>
    <span>
        &copy; {today.getFullYear()} Minh-Hoang HUYNH. All rights reserved.
    </span>
    <References class:list={"ref"} />
</footer>
<style>
    footer {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin-top: auto;
        padding: 2em 1em;
        color: rgb(var(--gray));
        text-align: center;
    }

    :global(.ref) {
        justify-self: center;
        margin: 0 auto;
        padding: 1em 0;
    }
</style>
