---
import HeaderLink from "./HeaderLink.astro";
import References from "./References.svelte";
import DarkModeSwitch from "./DarkModeSwitch.svelte";

let { class: className } = Astro.props;
---

<header class={className}>
    <DarkModeSwitch class="DarkModeSwitch" client:load />
    <nav>
        <a href="/"><h1>Minh-Hoang's portfolio</h1></a>
        <div class="internal-links">
            <HeaderLink href="/">Home</HeaderLink>
            <HeaderLink href="/news">News</HeaderLink>
            <HeaderLink href="/blog">Blog</HeaderLink>
        </div>
        <References client:load />
    </nav>
</header>

<style>
    header {
        display: grid;
        grid-template-columns: max(15vw, 36px) auto max(15vw, 36px);
        box-shadow: 0 2px 4px var(--color-shadow);
        padding: 0;
    }
    :global(.DarkModeSwitch) {
        grid-row: 1;
        grid-column: 1;
    }
    h1 {
        margin-top: 0;
    }
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    nav a, h1 {
        margin: 0;
        color: var(--color-text);
        text-decoration: none;
        
        &:hover {
            filter: invert(25%); 
        }
    }
    nav a.active {
        border-bottom-color: var(--color-text);
        text-decoration: none;
    }
    .internal-links a {
        border-bottom: 5px solid transparent;
        padding: 1.1em 0.5em;
    }
    @media (max-width: 600px) {
        header {
            grid-template-rows: auto auto;
            grid-template-columns: max(15vw, 36px) auto;
        }
        :global(.DarkModeSwitch) {
            grid-row: 1;
            grid-column: 1;
        }
        nav {
            display: grid;
            grid-template-columns: auto auto;
            grid-row: 1;
            grid-column: 2;
        }
        .internal-links {
            grid-row: 1;
            grid-column: 1 ;
        }
        :global(.references) {
            grid-row: 1;
            grid-column: 2;
        }
        nav a {
            grid-row: 2;
            grid-column: 1 / span 2;
            justify-self: center;
            margin: 0.2em 0;
            font-size: 0.9rem;
        }
    }
</style>
