---
import HeaderLink from "./HeaderLink.astro";
import DarkModeSwitch from "./DarkModeSwitch.svelte";
---

<nav>
    <a href="/"><h1>Minh-Hoang's portfolio</h1></a>
    <div class="links">
        <HeaderLink href="/">Home</HeaderLink>
        <HeaderLink href="/about">About</HeaderLink>
        <HeaderLink href="/blog">Blog</HeaderLink>
    </div>
    <DarkModeSwitch class="DarkModeSwitch" client:load />
</nav>

<style>
    nav {
        display: grid;
        position: sticky;
        top: 0;
        grid-template-columns: max(15vw, 36px) 1fr 1fr max(15vw, 36px);
        z-index: 999;
        box-shadow: 0 2px 4px var(--color-shadow);
        background: var(--background-gradient);
        padding: 0;
    }
    nav a {
        grid-column: 2;
        margin: 0;
        color: var(--color-text);
        text-decoration: none;

        h1 {
            margin: 0.5rem 0;
            font-family: var(--font-title);
        }

        &:hover {
            filter: invert(25%);
        }
    }
    nav a.active {
        border-bottom-color: var(--color-text);
        text-decoration: none;
    }
    .links {
        display: flex;
        justify-content: end;
        align-items: center;
        gap: 1em;
    }
    .links a {
        border-bottom: 5px solid transparent;
        padding: 1.1em 0.5em;
    }
    @media (max-width: 600px) {
        :global(.DarkModeSwitch) {
            grid-row: 2;
            grid-column: 2;
        }
        nav {
            display: grid;
            grid-template-rows: auto auto;
            grid-template-columns: auto auto;
            grid-row: 2;
            grid-column: 1;
        }
        .links {
            grid-row: 2;
            grid-column: 1;
        }
        :global(.references) {
            grid-row: 2;
            grid-column: 2;
        }
        nav a {
            grid-row: 1;
            grid-column: 1 / span 2;
            justify-self: center;
            margin: 0;
            font-size: 0.9rem;
        }
    }
</style>
