---
import HeaderLink from "./HeaderLink.astro";
import DarkModeSwitch from "./DarkModeSwitch.svelte";
import References from "./References.astro";
---
<script src="https://datacommons.org/datacommons.js"></script>

<nav>
    <a href="/"><h1>Minh-Hoang's portfolio</h1></a>
    <div class="links">
        <HeaderLink href="/">Projects</HeaderLink>
        <HeaderLink href="/dash">Dashboard</HeaderLink>
        <HeaderLink href="/blog">Blog</HeaderLink>
    </div>
    <References class="references" />
    <DarkModeSwitch class="DarkModeSwitch" client:load />
</nav>

<style>
    h1 {
        text-wrap: nowrap;
    }
    nav {
        position: sticky;
        top: 0;
        padding: 0 max(36px, 15vw);
        z-index: 999;
        box-shadow: 0px 1px var(--color-shadow);
        background: var(--color-bg-gradient);
        display: flex;
        flex-wrap: wrap-reverse;
        justify-content: space-between;
        align-items: center;
        overflow-x: scroll;
        transition: all 0.3s ease-in-out;
    }
    nav a {
        grid-column: 2;
        margin: 0;
        color: var(--color-text);
        text-decoration: none;

        h1 {
            margin: 0.5rem 0;
            font-family: var(--font-title);
        }

        &:hover {
            translate: 0 -2px;
            filter: var(--filter-hover)
            border-bottom-color: var(--color-text-secondary);
        }
    }
    .links {
        display: flex;
        justify-content: end;
        align-items: center;
        font-family: var(--font-heading);
        gap: 1em;
    }
    .links a {
        border-bottom: 5px solid transparent;
        padding: 1.1em 0.5em;
    }
    .links a.active {
        border-bottom-color: var(--color-text);
    }
    .links a:hover {
        border-bottom-color: var(--color-text-secondary);
        color: var(--color-text-secondary);
    }
    @media (max-width: 600px) {
        nav {
            flex-wrap: nowrap;
            padding: 0 1rem;
        }
        nav h1 {
            display: none;
        }
        :global(.references) {
            display: none !important;
        }
    }
</style>
