---
const { tags = [{}] } = Astro.props;

interface Props {
    tags: Tag[];
}

interface Tag {
    name: string;
    backgroundColor?: string;
    color?: string;
}
---

<div class="tags">
    {
        tags.map((tag: Tag) => (
            <span class="tag" style={{ backgroundColor: tag.backgroundColor, color: tag.color }}>
                {tag.name}
            </span>
        ))
    }
</div>

<style>
    .tags {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 0.2rem;
        width: fit-content;
    }
    .tag {
        border-radius: 10px;
        background-color: rgba(255, 127, 80, 0.5);
        padding: 0 0.4rem;
        min-width: 2rem;
        height: fit-content;
        font-size: 0.7rem;
        text-align: center;
        text-wrap: nowrap;
    }
</style>
