* {
    margin: 0;
    text-decoration: none;
}

body {
    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-columns: 1fr 8fr;
    grid-template-areas:
        "banner banner"
        "nav header"
        "nav section";
    font-family: Inter, Arial, sans-serif;
}

.global-banner {
    grid-area: banner;
}

/* # SIDEBAR */
.material-symbols-outlined {
    font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 20;
}

.projects .material-symbols-outlined {
    font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 20;
}

nav {
    display: flex;
    grid-area: nav;
    flex-direction: column;
    gap: 3rem;
    background-color: rgb(100, 154, 182);
    padding: 2vh 2vw;
    color: white;

}
@media (prefers-color-scheme: dark) {
    nav {
        background-color: rgba(100, 154, 182, 0.5);
    }
    html.light {
        nav {
            background-color: rgb(100, 154, 182);
        }
    }
}

nav .group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: fit-content;
}

nav a,
nav h1 {
    display: grid;
    grid-template-columns: 1fr 6fr;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
    color: white;
}

nav a:hover,
nav h1:hover {
    color: var(--color-text-secondary);
}

nav a:active,
nav h1:active {
    color: var(--color-text);
}

/* # HEADER */
.header {
    grid-area: header;
    padding: 2vh 2vw;
}

.header * {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2vw;
}

.header .search:hover {
    background-color: var(--color-bg-ternary);
}

.header input {
    margin: 0 2vw;
    border-width: 0;
    border-radius: 1rem;
    background-color: var(--color-bg-secondary);
    width: 80%;
    height: 1.5rem;
}

.header button {
    border: 0;
    border-radius: 1000px;
    background-color: rgb(100, 154, 182);
    padding: 1vh 2vw;
    color: white;
    font-family: Inter;
    /* box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.6); */
}

.header button:hover {
    background-color: rgb(60, 155, 182);
}

.header button:active {
    background-color: rgb(100, 154, 182);
    /* box-shadow: inset 0px 1px 0px rgba(0, 0, 0, 0.6); */
}

.header .profile {
    display: inline;
}

@media (prefers-color-scheme: dark) {
    nav a:visited, .header a:visited {
        color: white;
    }
}

/* # MAIN SECTION */

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-area: section;
    gap: 1rem;
    background-color: var(--color-bg-secondary);
    padding: 1rem 4vw 1rem 2vw;
}

@media (min-width: 1000px) {
    main {
        grid-template-rows: auto 1fr;
        grid-template-columns: 6fr 1fr;
    }
}

.card {
    box-shadow: 0.2rem 0.2rem 0.1rem var(--color-shadow);
    border-radius: 0.5rem;
    background-color: var(--color-bg);
    padding: 3vh 1rem;
    width: 20rem;
}

/* ## Projects */

section.projects {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-bottom: 25vh;
}

.projects > div > div {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin: 1rem;
}

.projects .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-width: 0 0 0 0.3rem;
    border-style: solid;
    border-color: orange;
}

.projects .card:hover {
    background-color: var(--color-bg-secondary);
}

.projects .card:active {
    box-shadow: 0 0 0;
    background-color: var(--color-bg-ternary);
}
.projects .card p {
    color: gray;
    font-size: 14px;
}

.projects .blank {
    height: 1rem;
}

.projects .icons {
    display: flex;
    justify-content: end;
    gap: 1vh;
    color: gray;
}

.projects .card .title {
    font-size: 18px;
}

/* ## Anouncements */

.announcements > div {
    display: flex;
    margin: 1rem;
}

.announcements .card {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 18rem;
}

.announcement {
    padding: 1rem 0;
}

.announcement > h4 {
    padding-left: 0.4rem;
    font-size: 0.8rem;
}

.announcement > p {
    padding-left: 0.4rem;
    font-size: 0.8rem;
}

.sep {
    border-bottom: solid;
    border-bottom-width: 2px;
    border-color: var(--color-bg-ternary);
}

/* ## Trending */

section.trending {
}

.trending .card {
    margin: 1rem;
    padding: 1rem;
    width: 18rem;
}

.trend {
    display: flex;
    align-items: center;
    justify-items: center;
}

.gray {
    color: gray;
}

/* PHOTO */
.photo:hover {
    background-image: linear-gradient(rgba(31, 177, 172, 0.5), rgba(0, 0, 255, 0.5));
}

.photo {
    --size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
    border-radius: 100%;
    background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(31, 177, 172, 0.5));
    min-width: var(--size);
    height: var(--size);
    color: white;
    font-size: small;
    text-decoration: none;
}

.big {
    --size: 5rem;
}

.smaller {
    font-size: smaller;
}
