main * {
    font-family: Roboto;
}

main {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
}

.header,
.hero {
    margin: 0;
    border: 0;
    background-color: #1f2937;
    color: #f9faf8;
    font-weight: 300;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    padding: 16px 15vw;
}

.header .logo {
    cursor: pointer;
    font-weight: bold;
    font-size: 24px;
}

.header ul {
    list-style-type: none;
    text-align: end;
}

.header ul li {
    display: inline;
    cursor: pointer;
    padding: 8px;
}

.hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 10vh 15vw;
}

main h1 {
    font-size: 46px;
}

.hero .text {
    display: flex;
    flex-direction: column;
    margin: 4px;
    color: #e5e7eb;
}

.hero button {
    transition-duration: 0.15s;
    cursor: pointer;
    margin: 8px 0;
    border: none;
    border-radius: 5px;
    background-color: #3882f6;
    padding: 8px 16px;
    color: white;
    font-weight: bold;
    font-family: "Roboto";
}

.hero button:hover {
    background-color: #f9faf8;
    color: #3882f6;
}

.hero .placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4px;
    background-color: rgba(255, 255, 255, 0.3);
    height: 100%;
    text-align: center;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5vh 20vw;
}

.info h2 {
    font-size: 36px;
}

.info .container {
    display: flex;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 2lh;
}

.info .illustration {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 18vw;
    text-align: center;
}

.info .box {
    margin: 2em 0 1em 0;
    border: 0.5vh solid #3882f6;
    border-radius: 1vw;
    background-color: white;
    width: 12vw;
    height: 12vw;
}

.info .subtext {
    text-wrap: wrap;
}

.quote {
    background-color: #e5e7eb;
    padding: 32px 10vw;
    color: #1f2937;
}

.quote .text {
    margin: 2em 0 0 0;
    font-style: italic;
    font-weight: 100;
    font-size: 36px;
}

.quote .author {
    margin: 0 0 3em 0;
    font-weight: bold;
    font-size: 18px;
}

.action {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2em auto;
    border-radius: 10px;
    background-color: #3882f6;
    padding: 8vh 4vw;
    width: 60%;
    color: #f9faf8;
}

.action * {
    margin: 0;
}

.action button {
    align-self: center;
    justify-self: end;
    transition-duration: 0.15s;
    cursor: pointer;
    border-width: 2px;
    border-style: solid;
    border-color: #f9faf8;
    border-radius: 10px;
    background-color: #3882f6;
    padding: 0.2em 8%;
    color: #f9faf8;
    font-weight: bold;
    font-size: 18px;
    font-family: roboto;
}

.action button:hover {
    background-color: #f9faf8;
    color: #3882f6;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    padding: 16px;
    color: white;
    font-weight: 300;
    font-size: small;
}
